.hidden {
  display: none;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #fff;
  color: #434455;
}

/* RESET */

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
  font-style: normal;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

img {
  display: block;
}

input:focus {
  outline: none;
}

.visually-hidden {
  position: absolute;
  padding: 0;
  margin: -1px;
  width: 1px;
  height: 1px;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

button {
  cursor: pointer;
}

/* COMMON */

.container {
  display: flex;
  flex-direction: column;
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
  /* background-color: #8e8f9950; */
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
  }
}

/* HEADER */
.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow:
    0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.page-header .container {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav-list,
.contacts {
  display: none;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.header-logo {
  padding: 16px 0;
  display: block;
}

.header-logo .logo-part {
  color: #2e2f42;
}

.burger-btn {
  padding: 0;
  border: none;
  background-color: transparent;
}

.burger-icon {
  display: block;
  fill: #2f2f37;
}

@media screen and (min-width: 768px) {
  .burger-btn {
    display: none;
  }

  .header-nav {
    display: flex;
    align-items: center;
  }

  .header-logo {
    margin-right: 120px;
    padding: 24px 0;
  }

  ul.nav-list {
    display: flex;
  }

  ul.nav-list .nav-item:not(:last-child),
  ul.contacts-list .contacts-item:not(:last-child) {
    margin-right: 40px;
  }

  .nav-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    display: block;
    padding: 24px 0 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .nav-link.current {
    position: relative;
  }

  .nav-link.current::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: -1px;
    border-radius: 2px;
    width: 100%;
    height: 4px;
    background-color: #404bbf;
  }

  .nav-link:hover,
  .nav-link:focus,
  .contacts-link:hover,
  .contacts-link:focus,
  .nav-link.current {
    color: #404bbf;
  }

  .contacts {
    font-style: normal;
    display: block;
  }

  ul.contacts-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .contacts-link {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

@media screen and (min-width: 1158px) {
  .header-logo {
    margin-right: 76px;
  }

  ul.contacts-list {
    flex-direction: row;
    align-items: center;
    gap: 40px;
  }

  .contacts-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
  }
}

/* mobile menu */

.mobile-menu {
  position: fixed;
  top: 0;
  left: 100%;
  min-width: 320px;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition:
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1),
    left 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  left: 0;
}

.mobile-menu-container {
  position: relative;
  padding: 72px 24px 40px 16px;
  max-width: 320px;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.mobile-menu-close {
  position: absolute;
  top: 24px;
  right: 24px;
  padding: 0;
  background-color: #e7e9fc;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition:
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-nav {
  margin-bottom: auto;
}

.mobile-menu-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.mobile-menu-item a {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.mobile-menu-item a.current {
  color: #404bbf;
}

.mobile-contacts {
  margin-bottom: 48px;
}

.mobile-contacts-list {
  display: flex;
  flex-direction: column-reverse;
  gap: 24px;
}

.mobile-contacts-item a {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
}

.mobile-contacts-item:last-child a {
  color: #4d5ae5;
}

.mobile-menu-soc-list {
  display: flex;
  justify-content: space-between;
}

.mobile-menu-soc-item {
  width: 40px;
  height: 40px;
}

.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4d5ae5;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.social-link .custom {
  fill: white;
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

/* FIRST SECTION */

.sections {
  padding: 96px 0;
}

.first-section {
  background-color: #2e2f42;
  background-image:
    linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url("../images/bg/bg_mob.webp");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 72px 0;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

.main-header {
  max-width: 216px;
  margin: 0 auto 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
}

.first-section-btn,
.modal-btn {
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  cursor: pointer;
  display: block;
  border: none;
  border-radius: 4px;
  padding: 16px 0;
  min-width: 169px;
  height: 56px;
  margin: 0 auto;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-resolution: 192dpi) and (max-width: 767px),
  screen and (min-resolution: 2dppx) and (max-width: 767px),
  screen and (min-device-pixel-ratio: 2) and (max-width: 767px) {
  .first-section {
    background-image:
      linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url("../images/bg/bg_mob@2x.webp");
  }
}

@media screen and (min-width: 768px) {
  .first-section {
    padding: 112px 0;
    background-image:
      linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url("../images/bg/bg_tab.webp");
  }
  .main-header {
    max-width: 496px;
    font-size: 56px;
    line-height: 1.07;
    margin-bottom: 36px;
  }

  .first-section-btn,
  .modal-btn {
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .first-section-btn:hover,
  .first-section-btn:focus,
  .modal-btn:hover,
  .modal-btn:focus {
    background-color: #404bbf;
  }
}

@media screen and (min-resolution: 192dpi) and (min-width: 768px),
  screen and (min-resolution: 2dppx) and (min-width: 768px),
  screen and (min-device-pixel-ratio: 2) and (min-width: 768px) {
  .first-section {
    background-image:
      linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url("../images/bg/bg_tab@2x.webp");
  }
}

@media screen and (min-width: 1158px) {
  .first-section {
    padding: 188px 0;
    background-image:
      linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url("../images/bg/bg_desk.jpg");
  }

  .main-header {
    margin: 0 auto 48px;
  }
}

@media screen and (min-resolution: 192dpi) and (min-width: 1158px),
  screen and (min-resolution: 2dppx) and (min-width: 1158px),
  screen and (min-device-pixel-ratio: 2) and (min-width: 1158px) {
  .hero {
    background-image:
      linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url("../images/bg/bg_desk@2x.webp");
  }
}

/* FEAURE SECTION */

.features-section .features-section-list,
.team-section .team-section-list,
.portfolio-section .portfolio-section-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 72px;
}

.features-section .features-section-list .features-section-item {
  flex-basis: 100%;
}

.feature-icon-block {
  display: none;
}

.features-section h3 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}

.features-section p.features-section-item-text {
  font-weight: 500;
  font-size: 16px;
}

@media screen and (min-width: 768px) {
  .features-section .features-section-list {
    column-gap: 24px;
  }

  .features-section .features-section-list .features-section-item {
    flex-basis: calc((100% - 24px) / 2);
  }

  .features-section h3 {
    text-align: left;
  }
}

@media screen and (min-width: 1158px) {
  .features-section .features-section-list .features-section-item,
  .team-section .team-section-list .team-section-item {
    flex-basis: calc((100% - 72px) / 4);
  }

  .feature-icon-block {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    height: 112px;
    width: 100%;
    background-color: #f4f4fd;
    margin-bottom: 8px;
  }

  .features-section h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }

  .features-section p.features-section-item-text {
    font-weight: 400;
  }
}

/* TEAM SECTION */

.team-section {
  background-color: #f4f4fd;
}

.sections h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.team-section-list {
  justify-content: center;
}

.team-section-item,
.portfolio-section-item {
  background-color: #fff;
}

.team-section-item {
  border-radius: 0 0 4px 4px;
}

.team-section-item,
.portfolio-section-item {
  box-shadow:
    0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team-section-item div {
  padding: 32px 0;
}

.team-section-item h3,
.portfolio-section-item h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.sections p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.team-section-item h3,
.team-section-item p {
  text-align: center;
}

.team-section-item-text {
  margin-bottom: 8px;
}

.social-block-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.social-block-list-item {
  width: 40px;
  height: 40px;
}

@media screen and (min-width: 768px) {
  .team-section-list {
    column-gap: 24px;
  }

  .team-section-item {
    width: fit-content;
  }

  .social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4d5ae5;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .social-link:hover,
  .social-link:focus {
    background-color: #404bbf;
  }

  .team-social-link .custom,
  .footer-social-link .custom {
    fill: #f4f4fd;
  }
}

/* PORTFOLIO SECTION */

.portfolio-section .portfolio-section-list {
  row-gap: 48px;
}

.portfolio-section-item {
  height: 400px;
}

.portfolio-section-info {
  position: relative;
  overflow: hidden;
  height: 280px;
}

.portfolio-image {
  width: 100%;
}

.portfolio-section-item div.info-block {
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  padding: 32px 16px;
}

.portfolio-section-item .portfolio-info-text {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #4d5ae5;
  color: #f4f4fd;
  padding: 40px 32px;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-section-item:hover .portfolio-info-text {
  transform: translateY(0%);
}

@media screen and (min-width: 768px) {
  .portfolio-section .portfolio-section-list {
    column-gap: 24px;
    row-gap: 72px;
  }

  .portfolio-section-item {
    width: calc((100% - 24px) / 2);
    height: 420px;
  }

  .portfolio-image {
    width: 356px;
    height: 300px;
  }

  .portfolio-section-info {
    height: 300px;
  }
}

@media screen and (min-width: 1158px) {
  .portfolio-image {
    width: 360px;
    height: 300px;
  }

  .portfolio-section-item {
    width: calc((100% - 48px) / 3);
    box-shadow: none;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .portfolio-section-item:hover,
  .portfolio-section-item:focus {
    box-shadow:
      0 2px 1px 0 rgba(46, 47, 66, 0.08),
      0 1px 1px 0 rgba(46, 47, 66, 0.16),
      0 1px 6px 0 rgba(46, 47, 66, 0.08);
  }
}

/* FOOTER */

.page-footer {
  background-color: #2e2f42;
  padding: 96px 0;
}

.page-footer .container {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
}

.page-footer .logo-footer,
.page-footer p {
  color: #f4f4fd;
}

.page-footer p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.page-footer p.soc,
.page-footer p.sub {
  font-weight: 500;
  color: #ffffff;
}

.page-footer .logo {
  display: block;
}
.page-footer .logo,
.page-footer p.soc,
.page-footer p.sub {
  text-align: center;
  margin-bottom: 16px;
}

.footer-soc-list {
  display: flex;
  gap: 16px;
}

.footer-social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: #31d0aa;
}

.footer-soc {
  width: 208px;
}
.footer-soc-list {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  gap: 16px;
}

.footer-subscribe .sub-mail {
  border: 1px solid #fff;
  border-radius: 4px;
  width: 288px;
  height: 40px;
  padding: 8px 16px;
  line-height: 2;
  letter-spacing: 0.04em;
  font-size: 12px;
  background-color: transparent;
  color: #fff;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-subscribe .sub-mail:hover,
.footer-subscribe .sub-mail:focus {
  border-color: #31d0aa;
}

.footer-subscribe .sub-mail::placeholder {
  font-weight: 400;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #fff;
}

.footer-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;
}

.sub-btn {
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 4px;
  padding: 8px 24px;
  min-width: 165px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-top: auto;
  margin-bottom: auto;
  width: fit-content;
}

.sub-btn:hover,
.sub-btn:focus {
  background-color: #31d0aa;
}

.sub-btn .custom {
  fill: #fff;
  margin-left: 16px;
}

@media screen and (min-width: 768px) {
  .page-footer .container {
    flex-direction: row;
    column-gap: 24px;
    padding-left: 108px;
    padding-right: 108px;
  }

  .footer-info {
    width: 264px;
  }

  .page-footer .logo,
  .page-footer p.soc,
  .page-footer p.sub {
    text-align: left;
  }

  .footer-form {
    gap: 24px;
  }
}

@media screen and (min-width: 1158px) {
  .page-footer {
    padding: 100px 0;
  }
  .page-footer .container {
    flex-direction: row;
    align-items: baseline;
    padding: 0 15px;
    gap: 0;
  }
  .footer-info {
    margin-right: 120px;
  }
  .footer-subscribe {
    margin-left: auto;
  }
  .footer-subscribe .sub-mail {
    width: 264px;
  }
}

/* MODAL MENU */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition:
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 4px;
  width: 288px;
  min-height: 623px;
  padding: 72px 16px 24px;
  box-shadow:
    0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background: #fcfcfc;
  transform: translate(-50%, -50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop:not(.is-open) .modal {
  transform: translate(-50%, -50%) scale(1.5);
}

.close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  padding: 0;
  background-color: #e7e9fc;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition:
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn:hover,
.close-btn:focus {
  border-style: none;
  background-color: #404bbf;
}

.close-btn .custom {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn:hover .custom,
.close-btn:focus .custom {
  fill: #fff;
}

.form-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}

.modal-block {
  display: block;
  margin-bottom: 8px;
}

.modal-block:nth-child(4) {
  margin-bottom: 14px;
}

.modal-block label {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
}

.input-block {
  position: relative;
  width: 100%;
}

.modal-input {
  border: 1px solid;
  border-color: rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  background-color: transparent;
  color: rgba(46, 47, 66, 0.4);
  width: 100%;
  height: 40px;
  padding: 8px 8px 8px 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
  border-color: #4d5ae5;
}

.modal-input.comment-text {
  min-height: 120px;
  padding: 8px 16px;
  resize: none;
}

.input-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus + .input-icon {
  fill: #4d5ae5;
}

.check-policy {
  margin-bottom: 24px;
}

.check-policy-label {
  display: flex;
  align-items: center;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.current-checkbox {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-right: 8px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  width: 16px;
  height: 16px;
  flex-shrink: 0;
  fill: transparent;
  transition:
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-icon {
  fill: transparent;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden:checked + .check-policy-label .checkbox-icon {
  fill: #f4f4fd;
}

.visually-hidden:checked + .check-policy-label .current-checkbox {
  background-color: #404bbf;
  border-style: none;
  fill: #f4f4fd;
}

.terms-link {
  line-height: 1.33;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
}

.modal-btn {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

@media screen and (min-width: 768px) {
  .modal {
    width: 408px;
    min-height: 584px;
    padding: 72px 24px 24px;
  }

  .modal-block:nth-child(4) {
    margin-bottom: 16px;
  }
}
